.color-navbar {
  background-color: #f29ae3 !important;
  background-image: linear-gradient(90deg, #e052c9 0%, #8cf5f1 100%);
}

.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 60px;
}